<div class="container">
  <div class="jumbotron" ng-show="partners.length == 0">
    <h1>quanti km di cazzo.com</h1>
    <p class="lead">
      Calcola quanti km di cazzo hai preso nella tua vita
    </p>
  </div>

  <div class="jumbotron" ng-show="partners.length > 0">
    <h1>Hai preso {{totals.km | number:1 }}Km di cazzo</h1>
  </div>
</div>

<div class="container">
  <div class="well">
    <form name="newPArtner">

      <div class="row">
        <div class="col-sm-1 man-icon hidden-xs">
          <i class="fa fa-male fa-4x"></i>
          <i class="fa fa-plus-circle fa-lg"></i>
        </div>
        <div class="col-sm-11">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="partnerLength">Cazzo?</label>
                <div class="input-group">
                  <input type="number" maxlength="2" name="newPartnerLength" class="form-control"
                         ng-model="newPartner.length"
                         id="partnerLength"
                         placeholder="00.0" required>
                  <span class="input-group-addon">cm</span>
                </div>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <label for="partnerLength">Scopate/sett.</label>
                <div class="input-group">
                  <input type="number" maxlength="2" name="newPartnerFucks" class="form-control"
                         ng-model="newPartner.fucks"
                         id="partnerFucks"
                         placeholder="0" required>
                  <span class="input-group-addon">scopate</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="partnerFrom">Dal</label>
                <input type="date" name="newPArtner.from" class="form-control" ng-model="newPartner.from"
                       id="partnerFrom"
                       required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="partnerTo">Al</label>
                <input type="date" name="newPartner.to" class="form-control" ng-model="newPartner.to" id="partnerTo"
                       required>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <button ng-click="addPartner()" class="btn btn-primary pull-right" ng-disabled="newPArtner.$invalid">
            Aggiungi <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
          <small class="pull-right add-alert" ng-show="newPArtner.$invalid">Aggiungi tutti i dati del tuo partner (Vale
            la figa e vale il culo, la bocca no)
          </small>
        </div>
      </div>


    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-partner" ng-repeat="partner in partners track by $index">
        <div class="row">
          <div class="col-sm-1 hidden-xs">
            <i class="fa fa-id-badge fa-2x partner-badge"></i>
          </div>
          <div class="col-sm-5 col-xs-6">
            <p>
              <i class="fa fa-calendar"></i> da: <b>{{partner.from | amDateFormat:'MM.DD.YYYY'}}</b> a: <b>{{partner.to
              |
              amDateFormat:'MM.DD.YYYY'}}</b><br/>
              <i class="fa fa-arrows-h"></i> <b>{{partner.length}}</b> cm di cazzo<br/>
              <i class="fa fa-bar-chart"></i> <b>{{partner.fucks}}</b> Scopate settimanali
            </p>
          </div>
          <div class="col-sm-6">
            <h1 class="pull-right">{{partner.taken | number : 1}} Km</h1>
          </div>
        </div>
        <button ng-click="removePartner(partner)" class="btn btn-danger btn-rounded"><i class="fa fa-times fa-lg"></i>
        </button>
        <p></p>
      </div>
    </div>
  </div>
</div>



